.banner {
  &-wrap {
    padding-top: 70px;
  }
  &-inner {
    & .slide-two {
      & .banner-list {
        height: 100%;
        & .container {
          height: 100%;
        }
        & .list-box {
          @include flex();
          align-items: center;
          padding-top: 120px;
          & .list-left {
            position: relative;
            text-align: center;
            width: 50%;
            & span.banner-img {
              position: relative;
              font-size: 36px;
              font-weight: 500;
              margin-bottom: 20px;
              &::before {
                content: "";
                display: block;
                width: 20px;
                height: 24px;
                position: absolute;
                right: -10px;
                top: -5px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("/assets/img/trangchu/banner2-top.svg");
              }
            }
            p {
              &:nth-child(2) {
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 10px;
                position: relative;
                background: -webkit-linear-gradient(#1d3a89, #2f7dff, #72a7ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                &::after {
                  content: "";
                  display: block;
                  width: 232px;
                  height: 38px;
                  margin: auto;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-image: url("../assets/img/trangchu/banner2-center.png");
                }
              }
              &:nth-child(3) {
                font-size: 32px;
                font-weight: 700;
                color: #405261;
                margin-bottom: 20px;
              }
            }
            a {
              color: #fff;
              font-weight: 400;
              padding: 10px 50px;
              border-radius: 4px;
              background: $color-first;
            }
          }
          & .list-right {
            width: 50%;
            position: relative;
            & .vpop {
              position: relative;
              img {
                position: relative;
                cursor: pointer;
                margin: 0 auto;
                max-width: 400px;
                max-height: 240px;
              }
              &::before {
                content: "";
                width: 260px;
                height: 146px;
                display: block;
                position: absolute;
                top: -130px;
                right: -35px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("../assets/img/trangchu/banner2-top-video.svg");
              }
              &::after {
                content: "";
                width: 68px;
                height: 46px;
                display: block;
                position: absolute;
                bottom: -8px;
                z-index: -1;
                left: 40px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("../assets/img/trangchu/banner2-bottom.svg");
              }
            }
            #video-popup-container {
              display: none;
              position: fixed;
              z-index: 996;
              width: 60%;
              left: 50%;
              margin-left: -30%;
              top: 10%;
              background-color: #fff;
            }

            #video-popup-close {
              cursor: pointer;
              position: absolute;
              right: -10px;
              top: -10px;
              z-index: 998;
              width: 25px;
              height: 25px;
              border-radius: 25px;
              text-align: center;
              font-size: 12px;
              background-color: #000;
              line-height: 25px;
              color: #fff;
            }

            #video-popup-iframe-container {
              position: absolute;
              z-index: 997;
              width: 100%;
              padding-bottom: 56.25%;
              border: 2px solid #000;
              border-radius: 2px;
              background-color: #000;
            }

            #video-popup-iframe {
              z-index: 999;
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background-color: #000;
            }

            #video-popup-overlay {
              display: none;
              position: fixed;
              z-index: 995;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #000;
              opacity: 0.8;
              width: 100%;
              height: 100%;
            }

            #video-popup-close:hover {
              color: #de0023;
            }
          }
        }
      }
      & .list-wrap {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-bottom: 70px;
        background: #f9fafa;
        & .banner-partner {
          overflow: hidden;
          padding: 12px 0;
          & .partner-text {
            text-align: center;
            margin-bottom: 12px;
            p {
              font-size: 16px;
              font-weight: 400;
              color: #738493;
              > span {
                color: #000;
                font-size: 28px;
                font-weight: 600;
              }
            }
          }
          & .partner-logo {
            gap: 40px;
            @include mid-flex();
            animation: rightToLeft 10s linear infinite;
            img {
              width: auto;
            }
          }
        }
      }
      & .banner-content {
        &-img {
          padding-top: 0;
        }
        &-title {
          position: relative;
          height: 100vh;
        }
      }
    }
  }
  &-content {
    position: relative;
    &-img {
      position: relative;
      padding-top: calc((775 / 1728) * 110%);
      overflow: hidden;
      .img {
        animation: zoomout 3s linear;
      }
    }
    &-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      display: block;
    }
  }
}
