.feedback {
  &-inner {
    margin-top: 80px;
    &-box {
      position: relative;
      margin-bottom: 100px;
      & .solution-inner-title {
        position: absolute;
        right: 155px;
        top: 70px;
        z-index: 998;
        h2 {
          padding-bottom: 0;
        }
      }
      .swiper {
        & .swiper-wrapper {
          height: auto;
        }
        & .feedback-pagination {
          position: absolute;
          text-align: center;
          bottom: 70px;
          left: 200px;
        }
        & .feedback-pagination .swiper-pagination-bullet {
          width: 0.9375rem;
          height: 0.9375rem;
        }
      }
    }
    &-card {
      @include flex();
      align-items: center;
      & .feedback-left {
        width: 35%;
        & .feedback-img {
          margin-bottom: 15px;
        }
        & .feedback-customer {
          text-align: center;
          h3 {
            font-size: 18px;
          }
          p {
            font-style: italic;
            font-size: 14px;
          }
        }
      }
      & .feedback-right {
        width: 65%;
        & .feedback-content {
          margin-left: 30px;
          & .feedback-comma {
            img {
              max-width: 35px;
            }
            &:nth-child(3) {
              img {
                float: right;
              }
            }
          }
          & .feedback-text {
            text-align: center;
            p {
              font-size: 20px;
              max-width: 573px;
              margin: auto;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
