.history {
  &-row {
    @include flex();
    padding-bottom: 100px;
    @include max(1100px) {
      display: block;
    }
  }
  &-inner {
    &-col {
      @include max(1023px) {
        width: 100%;
      }
      &:nth-child(1) {
        width: 30%;
        @include max(1100px) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 70%;
        @include max(1100px) {
          width: 100%;
        }
      }
      .menuabout {
        position: fixed;
        margin-top: 160px;
        @include max(1100px) {
          position: relative;
        }
      }
      .menuabout.fixedmenu {
        position: static;
      }
      .menuabout ul .selected a {
        font-weight: 700;
        color: #002485;
      }
    }
    &-left {
      > li {
        padding-bottom: 30px;
        cursor: pointer;
        > a:hover {
          color: $color-first;
        }
      }
      @include max(1100px) {
        @include mid-flex();
        flex-wrap: wrap;
        gap: 30px;
      }
    }
    &-right {
      padding-top: 150px;
      @include max(1100px) {
        padding-top: 60px;
      }
      @include max(600px) {
        padding-top: 0;
      }
      &.vision-mission {
        & .history-inner-info {
          margin-bottom: 95px;
          h2 {
            color: #002485;
          }
        }
      }
      &.commitment-quality {
        & .history-inner-info {
          margin-bottom: 40px;
          h2 {
            color: #002485;
          }
        }
      }
    }

    &-info {
      &:not(:first-child) {
        margin-bottom: 50px;
      }
      h2 {
        font-size: 28px;
        line-height: 38px;
        text-transform: uppercase;
        color: #3b80f3;
        font-weight: 700;
        @include max(600px) {
          font-size: 20px;
        }
      }
      p {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 28px;
        @include max(600px) {
          font-size: 14px;
        }
      }
      p > span {
        color: #002485;
        font-weight: 600;
      }
    }
    &-prove {
      position: relative;
      & .prove-img {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -75%;
          z-index: 2;
          display: block;
          content: "";
          width: 50%;
          height: 100%;
          background: -webkit-linear-gradient(
            left,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%
          );
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%
          );
          -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
        }
        &:hover::before {
          -webkit-animation: shine 0.75s;
          animation: shine 0.75s;
        }
      }
      & .prove-text {
        p {
          padding: 20px 0;
          font-size: 16px;
          line-height: 28px;
          @include max(600px) {
            font-size: 14px;
          }
        }
      }
    }
    &-pagination {
      bottom: 0 !important;
    }
    &-slide {
      @include mid-flex-btw();
      padding-bottom: 20px;
      @include max(1180px) {
        flex-direction: unset;
      }
      @include max(425px) {
        flex-direction: column;
      }
    }
    &-slide img {
      padding-bottom: 30px;
    }
    &-list {
      @include flex();
      align-items: center;
      margin-bottom: 40px;
      & .history-introduce {
        position: relative;
        &:nth-child(1) {
          margin-right: 20px;
        }
        &:nth-child(2) {
          margin-left: 20px;
        }
        & .history-strategy {
          padding: 30px;
          padding-top: 80px;
          position: relative;
          border-radius: 20px;
          background: #f1f8ff;
          & .history-text {
            @include flex();
            & .item-title {
              margin-bottom: 14px;
              h4 {
                font-size: 18px;
                color: #0060ff;
                text-transform: uppercase;
              }
            }
            & .item-img {
              position: absolute;
              top: -40px;
              right: 25px;
              img {
                max-width: 140px;
              }
            }
          }
        }
      }
    }
    &-strategy {
      @include mid-flex-btw();
      padding: 30px;
      border-radius: 20px;
      background: #f1f8ff;
      & .history-inner-text {
        & .item-title {
          margin-bottom: 10px;
          h4 {
            font-size: 18px;
            color: #0060ff;
          }
        }
        & .item-text {
          position: relative;
          li {
            position: relative;
            padding-left: 20px;
            &::before {
              content: "";
              width: 10px;
              height: 10px;
              display: block;
              position: absolute;
              left: 0;
              top: 6px;
              background-image: url(../assets/img/tuyendung/position-dot.svg);
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
  &-time {
    padding-bottom: 40px;
    & .history-inner-info {
      margin-bottom: 50px;
      h2 {
        color: #002485;
      }
    }
    &-row {
      @include flex();
      @include max(600px) {
        flex-direction: column !important;
      }
      &.border {
        padding-top: 0;
        & .history-time-form:nth-child(1) {
          padding-top: 30px;
        }
        & .history-time-form:nth-child(2) {
          padding-top: 30px;
          &::before {
            height: 100%;
          }
          &::after {
            display: none;
          }
        }
        &:nth-child(odd) {
          flex-direction: row-reverse;
          & .history-time-form:nth-child(2) {
            width: 100%;
            padding-right: 50px;
            padding-left: 0;
            &::before {
              right: 0;
              left: unset;
            }
          }
          & div.history-time-year {
            &::before {
              left: 89px;
              right: unset;
            }
            h3 {
              left: 0;
              right: unset;
            }
          }
        }
        &:nth-child(3) {
          div.history-time-year::before {
            background-color: #ffc107;
          }
        }
        &:nth-child(4) {
          div.history-time-year::before {
            background-color: #428dff;
          }
        }
        &:nth-child(6) {
          div.history-time-year::before {
            background-color: #428dff;
          }
        }
        &:nth-child(7) {
          div.history-time-year::before {
            background-color: #ffc107;
          }
        }
        &:nth-child(9) {
          .history-time-form:nth-child(2) {
            border-bottom: transparent;
          }
          & div.history-time-year {
            &::before {
              display: none;
            }
          }
        }
      }
    }
    &-form {
      position: relative;
      &:nth-child(1) {
        width: 12%;
        @include max(600px) {
          width: 100%;
          @include flex();
          align-items: center;
        }
      }
      &:nth-child(2) {
        width: 88%;
        @include flex();
        flex-wrap: wrap;
        padding-left: 50px;
        border-bottom: 2px dotted #a9a9a9;
        &::before {
          content: "";
          height: 94%;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 1;
          border-left: 2px dotted #a9a9a9;
        }
        &::after {
          content: "";
          width: 5%;
          position: absolute;
          top: 13px;
          left: -14px;
          border-top: 2px dotted #a9a9a9;
        }
        .history-time-build {
          width: 75%;
          padding-right: 30px;
          margin-bottom: 70px;
        }
        .history-time-img {
          width: 25%;
          margin-bottom: 70px;
        }
        .history-time-year {
          h3 {
            position: absolute;
            bottom: -9px;
            right: 0;
            padding-left: 2px;
            background: #fff;
          }
          &::before {
            top: unset;
            bottom: -8px;
            right: 78px;
            background: #00c86b;
          }
        }
      }
    }
    &-year {
      width: 100%;
      &::before {
        content: "";
        width: 14px;
        height: 14px;
        top: 7px;
        right: -8px;
        z-index: 2;
        position: absolute;
        border-radius: 50%;
        background-color: #69a1ff;
      }
      h3 {
        font-size: 30px;
        color: #bababa;
        font-weight: 700;
        line-height: 20px;
      }
      @include max(600px) {
        padding-bottom: 0;
        padding-right: 20px;
      }
    }
    &-icon {
      position: relative;
      padding-right: 20px;
      img {
        width: 50px;
      }
    }
    &-title {
      font-size: 18px;
      padding-bottom: 10px;
      text-transform: uppercase;
      p {
        font-weight: 600;
        color: #0060ff;
      }
      @include max(425px) {
        font-size: 16px;
      }
    }
  }
  &-commit {
    &-box {
      padding: 30px;
      border-radius: 20px;
      background: #f1f8ff;
      @include mid-flex-btw();
      margin-bottom: 40px;
      @include max(600px) {
        flex-direction: column;
      }
    }
    &-box:nth-child(4) {
      padding-bottom: 150px;
      @include max(425px) {
        padding-bottom: 100px;
      }
    }
    &-text {
      @include max(425px) {
        width: 100%;
        padding-top: 20px;
      }
      h3 {
        color: $color-first;
        font-weight: 400;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 15px;
      }
      &:nth-child(1) {
        width: 50%;
        font-size: 18px;
        line-height: 28px;
        padding-right: 10px;
        @include max(600px) {
          width: 100%;
          font-size: 14px;
          padding-top: 0;
        }
      }
    }
    &-img {
      width: 50%;
      padding-left: 10px;
      @include max(600px) {
        padding-left: 0;
        width: 100%;
      }
    }
    &-content {
      &-position {
        position: relative;
        @include flex();
        align-items: center;
        transform: rotate(45deg);
      }
      h3 {
        font-weight: 700;
        color: #0060ff;
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 20px;
      }
      p:nth-child(2) {
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 50px;
        @include max(600px) {
          font-size: 14px;
          padding-bottom: 30px;
        }
      }
      p:nth-child(4) {
        font-size: 18px;
        line-height: 28px;
        padding-top: 50px;
        @include max(600px) {
          font-size: 14px;
        }
      }
      &-box {
        border: 1px solid #000;
        border-radius: 25px;
        padding: 8px;
        transform: rotate(-45deg);
      }
    }
  }
}

.path {
  animation: dash 30s linear infinite;
  stroke-dasharray: 8;
}
