.news {
  &-inner {
    padding-top: 95px;
    &-row {
      @include flex();
      padding: 0 20px;
      @include max(1023px) {
        flex-direction: column;
      }
      .news-list {
        padding-right: 15px;
        @include max(1023px) {
          padding-right: 0;
        }
        & .news-breadcrumb {
          @include flex();
          align-items: center;
          margin-bottom: 30px;
          > a {
            span {
              color: #1665d8;
              font-size: 20px;
            }
          }
          > p {
            font-size: 20px;
            color: #544837;
          }
        }
        > a {
          @include flex();
          align-items: center;
          padding-bottom: 40px;
        }
        & .news-table {
          background-color: #fafafa;
          padding: 15px;
          @include flex();
          align-items: center;
          flex-wrap: wrap;
          & .btn-toggle {
            font-style: italic;
            cursor: pointer;
            span {
              color: #1665d8;
            }
          }
          p {
            font-size: 16px;
            font-weight: 600;
            margin-right: 10px;
          }
          &.active {
            & .news-text {
              display: block;
            }
          }
          & .news-text {
            display: none;
            width: 100%;
            padding-top: 8px;
            p {
              font-weight: 400;
              font-size: 12px;
            }
          }
        }
        // > a > i {
        //   padding: 12px 0.976rem;
        //   border-radius: 50%;
        //   background: #f8f8f8;
        //   margin-right: 20px;
        //   color: $color-first;
        // }
        > a > p {
          font-size: 26px;
          @include max(650px) {
            font-size: 18px;
          }
        }
        > h1 {
          font-size: 32px;
          line-height: 40px;
          color: #544837;
          padding-bottom: 20px;
          @include max(650px) {
            font-size: 30px;
          }
        }
        > p {
          padding-bottom: 20px;
          font-weight: 500;
          line-height: 25px;
          @include max(650px) {
            font-size: 12px;
          }
        }
        > p:nth-child(4) {
          > span {
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            color: #544837;
          }
          @include max(650px) {
            font-size: 15px;
          }
        }
        > img {
          padding-bottom: 20px;
        }
        > a.list-link {
          color: $color-first;
          font-style: italic;
          font-size: 16px;
          font-weight: 600;
          border-bottom: 1px solid #cfcfcf;
        }
        .news-time {
          @include flex();
          align-items: center;
          padding-bottom: 20px;
          justify-content: space-between;
          @include max(650px) {
            p {
              font-size: 14px;
            }
          }
          p:nth-child(1) {
            color: $color-first;
            padding: 4px 12px;
            border-radius: 5px;
            background: rgba(23, 74, 230, 0.1);
          }
          p:nth-child(2) {
            font-style: italic;
          }
        }
        & .list-share {
          @include flex();
          align-items: center;
          padding: 15px 0;
          border-bottom: 1px solid #cfcfcf;
          & .text {
            width: 10%;
            p {
              color: #858585;
            }
          }
          & .list-box {
            width: 90%;
            @include flex();
            align-items: center;
          }
          & .icon {
            @include flex();
            align-items: center;
            gap: 20px;
            width: 40%;
            img {
              max-width: 30px;
            }
          }
          & .popup-register {
            width: 60%;
            a {
              width: 100%;
              p {
                border-radius: 4px;
                padding: 10px 0;
                text-align: center;
                color: #fff;
                font-size: 14px;
                background-color: #184ae6;
              }
            }
            & .overlay {
              position: fixed;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background: rgba(25, 25, 30, 0.5);
              transition: opacity 500ms;
              visibility: hidden;
              opacity: 0;
              z-index: 999;
              &:target {
                visibility: visible;
                opacity: 1;
              }
              & .popup {
                position: absolute;
                width: 80%;
                height: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transform: translate(15%, 10%);
                transition: all 1s ease-in-out;
                &-box {
                  padding: 30px;
                  border-radius: 10px;
                  background-color: #fff;
                  &-close {
                    @include flex();
                    align-items: center;
                    margin-bottom: 30px;
                    h3 {
                      width: 100%;
                      font-size: 36px;
                      font-weight: 700;
                    }
                    a {
                      width: auto;
                    }
                  }
                  & .form-input-box {
                    @include flex();
                    width: 100%;
                    & .form-input {
                      width: 50%;
                      &:nth-child(1) {
                        margin-right: 15px;
                      }
                      &:nth-child(2) {
                        margin-left: 15px;
                      }
                    }
                  }
                  & .form-input {
                    padding-bottom: 20px;
                    > label > span {
                      color: red;
                    }
                    > input {
                      width: 100%;
                      padding: 8px 15px;
                      margin-top: 8px;
                      outline: 0;
                      border-radius: 4px;
                      font-size: 16px;
                      font-family: "Raleway";
                      border: 0.8px solid #e8e8e8;
                    }
                    > textarea {
                      width: 100%;
                      outline: 0;
                      display: block;
                      border-radius: 4px;
                      padding: 6px 15px;
                      font-size: 16px;
                      margin-top: 8px;
                      border: 0.8px solid #e8e8e8;
                    }
                  }
                  & .contact-send {
                    width: 50%;
                    margin: auto;
                    margin-top: 30px;
                  }
                }
              }
            }
          }
        }
        & .list-tag {
          @include flex();
          align-items: center;
          margin-top: 20px;
          margin-bottom: 60px;
          @include max(660px) {
            flex-wrap: wrap;
          }
          & .tag-link {
            padding-right: 10px;
            @include max(660px) {
              padding-bottom: 15px;
            }
            a > span {
              font-size: 14px;
              color: #858585;
              font-weight: 500;
              padding: 6px 10px;
              background-color: #f1f1f1;
            }
          }
        }
      }
      .news-content {
        & > * {
          width: 100% !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
      &:nth-child(2) {
        padding: 0 20px;
        background: linear-gradient(0deg, #ffffff 0%, #eff5ff 100%);
        h3 {
          color: #262626;
          font-size: 30px;
          font-weight: 400;
          padding-bottom: 30px;
        }
        .news-row {
          &-column {
            width: 33.33%;
          }
        }
      }
    }
    &-col {
      &:nth-child(1) {
        width: 70%;
        height: 100%;
        position: relative;
        @include max(1023px) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 30%;
        height: 100%;
        position: relative;
        @include max(1023px) {
          width: 100%;
        }
        & .news-item {
          padding-left: 15px;
          @include max(1023px) {
            padding-left: 0;
          }
          & .news-demo {
            position: relative;
            text-align: center;
            margin-bottom: 20px;
            & .demo-img {
              position: relative;
              img {
                @include max(1023px) {
                  max-height: 300px;
                }
                @include max(380px) {
                  max-height: 350px;
                }
              }
            }
            & .demo-form {
              position: absolute;
              top: 65px;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              padding: 0 30px;
              h3 {
                color: #ffffff;
                font-size: 26px;
                font-weight: 400;
                margin-bottom: 9px;
                @include max(380px) {
                  font-size: 20px;
                }
              }
              p {
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 25px;
              }
              a > span {
                padding: 6px 20px;
                border-radius: 6px;
                color: #fff;
                font-weight: 600;
                background: linear-gradient(90deg, #2d8af9 0%, #39aaff 100%);
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
              }
            }
          }
          & .news-mail {
            margin-bottom: 20px;
            & .mail-list {
              padding: 15px;
              background: linear-gradient(90deg, #2d8af9 0%, #39aaff 100%);
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
              > p {
                color: #fff;
                font-size: 14px;
                margin-bottom: 8px;
              }
              & .mail-input {
                position: relative;
                i {
                  position: absolute;
                  top: 10px;
                  left: 10px;
                  color: #a6e6ff;
                }
                input {
                  outline: 0;
                  border: 0;
                  padding: 10px;
                  padding-left: 45px;
                  width: 100%;
                  border-radius: 4px;
                }
              }
              > a {
                width: 100%;
              }
              > a > p {
                background: #ffa137;
                text-align: center;
                margin-top: 8px;
                padding: 8px 0;
                border-radius: 4px;
                color: #fff;
              }
            }
          }
          & .news-demo2 {
            position: relative;
            margin-bottom: 20px;
            & .demo-form {
              position: absolute;
              width: 100%;
              top: 0;
              padding: 15px;
              img {
                width: auto;
              }
              p {
                font-size: 14px;
                color: #fff;
                margin-top: 16px;
                margin-bottom: 10px;
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
                @include max(380px) {
                  margin-top: 10px;
                }
              }
              > a {
                width: 100%;
              }
              > a > p {
                border-radius: 4px;
                background: #ffa137;
                text-align: center;
                padding: 10px 0;
                @include max(380px) {
                  padding: 8px;
                }
              }
            }
            & .demo-img {
              position: relative;
              img {
                @include max(1023px) {
                  max-height: 300px;
                }
              }
            }
          }
          & .news-fanpage {
            position: relative;
            margin-bottom: 20px;
            & .fanpage-like {
              @include flex();
              margin-bottom: 40px;
              @include max(380px) {
                margin-bottom: 20px;
              }
              &-img {
                padding-right: 8px;
                img {
                  max-width: 110px;
                }
              }
              &-title {
                color: #fff;
              }
            }
            & .fanpage-img {
              position: relative;
              img {
                @include max(1023px) {
                  max-height: 300px;
                }
              }
            }
            & .fanpage-box {
              position: absolute;
              top: 0;
              width: 100%;
              padding: 15px;
            }
            & .fanpage-interact {
              &-like {
                @include mid-flex-btw();
                > a:nth-child(1) img {
                  max-width: 100px;
                }
                > a:nth-child(2) img {
                  max-width: 80px;
                }
                > a > p {
                  margin-left: 4px;
                }
              }
            }
          }

          & .news-view {
            > h3 {
              font-size: 28px;
              font-weight: 700;
              margin-bottom: 20px;
            }
            & .news-post {
              border: 1px solid #cfcfcf;
              & .content-small {
                padding: 20px;
                &:not(:last-child) {
                  border-bottom: 1px dashed #cfcfcf;
                }
                & .info-small {
                  margin-bottom: 12px;
                  > p {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                    @include lc(2);
                  }
                }
                & .time-small {
                  @include mid-flex-btw();
                  > p {
                    &:nth-child(1) {
                      border-radius: 5px;
                      font-size: 14px;
                      padding: 4px 12px;
                      color: #0060ff;
                      background-color: #eef2ff;
                    }
                    &:nth-child(2) {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
          // & .news-posts {
          //   h4 {
          //     font-size: 20px;
          //     font-weight: 600;
          //     margin-bottom: 15px;
          //     text-transform: uppercase;
          //   }
          //   .posts-news {
          //     padding-bottom: 20px;
          //     margin-bottom: 20px;
          //     &:not(:last-child) {
          //       border-bottom: 1px solid #cfcfcf;
          //     }
          //     p {
          //       &:nth-child(1) {
          //         color: #174ae6;
          //         font-weight: 600;
          //         margin-bottom: 5px;
          //         text-transform: uppercase;
          //       }
          //       &:nth-child(2) {
          //         font-weight: 600;
          //         margin-bottom: 5px;
          //       }
          //       &:nth-child(3) {
          //         color: #858585;
          //         font-size: 14px;
          //       }
          //     }
          //   }
          // }
        }
      }
    }
  }
}

.manage {
  background: linear-gradient(180deg, #ffffff 0%, #eff5ff 100%);
  &-inner {
    padding: 20px 20px 80px 20px;
    @include max(1023px) {
      padding: 20px 20px 40px 20px;
    }
    &-rows {
      .customer-inner-title {
        margin-bottom: 40px;
        text-align: left;
        > h3 {
          font-size: 28px;
          font-weight: 700;
          color: #000;
        }
      }
      & .manage-rows {
        &-swiper {
          & .info-small {
            margin-bottom: 10px;
            p {
              font-size: 16px;
              line-height: 20px;
              font-weight: 600;
              @include lc(2);
            }
          }
          & .time-small {
            margin-bottom: 10px;
          }
          & .text-small {
            p {
              font-size: 14px;
              color: #858585;
              @include lc(3);
            }
          }
          & .tablist-swiper-next {
            right: -25px;
            top: 45%;
          }
          & .tablist-swiper-prev {
            left: -25px;
            top: 45%;
          }
        }
      }
    }
  }
}
